@import "mix";
.contact {
  .info-page {
    .map-section {
      display: none;
    }

    .text {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      img {
        max-width: 300px;
        width: 90%;
        margin: 0 auto 20px auto;
        @include bp('desktop') {
          max-width: 450px;
        }
      }

      ul li {
        display: block;
        font-family: "akzidenz-grotesk-extended";
        font-size: 1em;
        line-height: 1.8em;

        &:last-child {
          font-weight: 700;
          margin-top: 20px;
        }
      }
    }

    &.show-map {
      .text {
        display: none;
      }

      .map-section {
        display: block;
        margin-top: 45px;
        width: 100%;
        @include bp('desktop') {
          margin-top: 0;
        }

        img {
          display: block;
          margin: -30% auto 0 auto;
          width: 100%;
        }
      }
    }
  }

}
