@import "mix";
.creative {
  .info-page {
    text-align: center;
    padding: 120px 20px;
    font-family: "akzidenz-grotesk-extended";
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    @include bp('desktop') {
      height: 100vh;
      font-size: 1em;
      max-width: 70%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
