@import "mix";
.creative {
  .info-page {
    height: calc(100vh - 60px);
    margin-top: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    font-family: "akzidenz-grotesk-extended";
    font-size: .75em;
  }
}
