@import "mix";
.homepage {
  align-items: center;
  display: flex;
  margin-top: 45px;
  height: 80vh;
  justify-content: center;
  padding: 30px;
  text-align: center;
  @include bp('tablet') {
    padding: 60px;
    height: calc(100vh - 45px);
    margin-top: 45px;
  }
  @include bp('desktop') {
    padding: 50px;
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    a {
      font-family: "akzidenz-grotesk";
      cursor: pointer;
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
    }
    a.talent {
      top: calc(40%);
      left: calc(50% - 50px);
    }
    a.about {
      top: calc(40% + 20px);
      left: calc(50% - 20px);
    }
    a.creative {
      top: calc(40% + 40px);
    left: calc(50% - 65px);
    }
    a.contact {
      top: calc(40% + 60px);
      left: calc(50% - 20px);
    }
    &.expanded {
      a.talent,
      a.creative {
        right: auto;
      }
      a.about,
      a.contact {
        left: auto;
      }
      a.creative,
      a.contact {
        top: auto;
      }
    }
  }
}
