@import "mix";
.homepage {
  margin-top: 45px;
  height: 80vh;
  padding: 80px 40px;
  text-align: center;
  @include bp('tablet') {
    padding: 60px;
    height: calc(100vh - 45px);
    margin-top: 45px;
  }
  @include bp('desktop') {
    padding: 100px;
  }

  .expanded-amoeba {
    display: block;
    width: 150px;
    margin: -120px auto 0 auto;
  }

  .tagline {
    display: none;
    font-family: "akzidenz-grotesk-extended";
    font-weight: 700;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 50%;
    text-transform: uppercase;
    font-size: .875em;
    left: 0;
    line-height: 1.5em;
    right: 0;
    @include bp('desktop') {
      font-size: 1.25em;
    }
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
      border-bottom: 4px solid transparent;
      font-family: "akzidenz-grotesk-extended";
      cursor: pointer;
      position: absolute;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-weight: 300;
      letter-spacing: .09em;
      font-size: .875em;
      padding-bottom: 8px;
      @include transition(all, .225s, ease-in-out);

      @include bp('desktop') {
        font-size: 1.125em;
      }
    }
    a.talent {
      top: calc(40%);
      left: calc(50% - 50px);
      &:hover {
        border-bottom-color: #9A799B;
        @include transition(all, .225s, ease-in-out);
      }
    }
    a.about {
      top: calc(40% + 20px);
      left: calc(50% - 20px);
      &:hover {
        border-bottom-color:#25295F;
        @include transition(all, .225s, ease-in-out);
      }
    }
    a.creative {
      top: calc(40% + 40px);
      left: calc(50% - 65px);
      &:hover {
        border-bottom-color: #C0686C;
        @include transition(all, .225s, ease-in-out);
      }
    }
    a.contact {
      top: calc(40% + 60px);
      left: calc(50% - 20px);
      &:hover {
        border-bottom-color: #146A3A;
        @include transition(all, .225s, ease-in-out);
      }
    }

    &.expanded {
      a.talent,
      a.creative {
        right: auto;
      }
      a.about,
      a.contact {
        left: auto;
      }
      a.creative,
      a.contact {
        top: auto;
      }
    }
  }
}
