@import "mix";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

a {
  color: #000;

  &:focus,
  &:hover {
    color: #000;
  }
}

footer {
  text-align: center;
  font-family: "akzidenz-grotesk-extended";
  font-weight: 300;
  font-size: .675em;
  padding: 10px;
}

header {
  background: white;
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999999999;

  .main-links {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
    z-index: 30;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
    @include transition(all, .125s, ease-in-out);
    @include bp('desktop') {
      opacity: 0;
      max-width: 60%;
    }

    .link {
      text-align: center;
      padding-top: 5px;
      width: 20%;

      a.page-link {
        cursor: pointer;
        display: inline-block;
        font-family: "akzidenz-grotesk";
        text-transform: uppercase;
        font-weight: 300;
        font-size: .675em;
        letter-spacing: .09em;
        text-decoration: none;
        border-bottom: 2px solid white;
        @include transition(all, .225s, ease-in-out);
        @include bp('desktop') {
          font-size: .8675em;
          padding-bottom: 5px;
        }

        &.talent:hover {
          border-bottom: 2px solid #7A99B3;
          @include transition(all, .225s, ease-in-out);
        }
        &.about:hover {
          border-bottom: 2px solid #F7DA37;
          @include transition(all, .225s, ease-in-out);
        }
        &.creative:hover {
          border-bottom: 2px solid #CB7329;
          @include transition(all, .225s, ease-in-out);
        }
        &.contact:hover {
          border-bottom: 2px solid #146A3A;
          @include transition(all, .225s, ease-in-out);
        }
      }

      &.home {
        a {
          display: none;
        }

        @include bp('desktop') {
          a {
            display: inline-block;
            font-weight: 900;
            font-size: 1.2em;
            font-family: "akzidenz-grotesk-extended";
            letter-spacing: 6px;
            padding-left: 3px;

            &:hover {
              border-bottom: 2px solid #000;
              @include transition(all, .225s, ease-in-out);
            }
          }
        }
      }
    }
  }

  .wordmark-wrapper {
    opacity: 1;
    position: absolute;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 9;
    @include transition(all, .225s, ease-in-out);
    @include bp('desktop') {
      display: flex;
      opacity: 1;
    }

    img {
      display: block;
      margin: 0 auto;
      padding-top: 22px;
      width: 450px;
      @include bp('desktop') {
        padding-top: 0;
      }
    }
  }

  &:hover {
    .main-links,
    .home-bar {
      opacity: 1;
      @include transition(all, .225s, ease-in-out);
    }

    .wordmark-wrapper {
      opacity: 0;
      @include transition(all, .225s, ease-in-out);
    }
  }
}

.index header {
  .main-links,
  .logo-container {
    display: none !important;
  }
  .wordmark-wrapper {
    opacity: 1 !important;
  }
}
