@import "mix";
.talent-detail {
  .container {
    width: 100%;

    .profile-row {
      align-items: stretch;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      padding-bottom: 10px;
      @include bp('tablet') {
        height: 100vh;
        flex-direction: row;
        padding-left: 10px;
        padding-bottom: 0;
      }

      .left-col {
        background: #ffffff;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 20px;
        text-align: center;
        width: 100%;
        @include bp('tablet') {
          width: 60%;
        }

        .info-box {
          width: 100%;
          h2 {
            font-size: 2em;
            margin-bottom: 30px;
          }

          .bio {
            margin: 0 auto 30px auto;
            max-width: 400px;
            display: none;
            @include bp('desktop') {
              display: block;
            }
          }

          ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
              text-align: center;

              a {
                cursor: pointer;
              }
            }

            &.links {
              margin-bottom: 20px;

              li {
                padding: 0 10px;
              }
            }
          }
        }
      }

      .right-col {
        width: 100%;
        @include bp('tablet') {
          height: 100%;
          width: 40%;
        }

        .main-image {
          background: black;
          height: 100%;
          position: relative;
          width: 100%;
          @include bp('tablet') {
            overflow: hidden;
          }

          img {
            display: block;
            width: 100%;
            @include bp('tablet') {
              height: 200%;
              object-fit: cover;
              position: absolute;
              top: -50%;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
