@import "mix";

.content.talent {
  display: flex;
  flex-direction: column;
  @include bp('tablet') {
    flex-direction: row-reverse;
  }

  .right-toggle {
    width: 100%;
    @include bp('tablet') {
      width: 20%;
    }

    #toggle {
      border: 10px solid black;
      cursor: pointer;
      position: fixed;
      padding: 10px;
      right: 10px;
      top: 10px;
    }
  }

  .container {
    width: 100%;
    @include bp('tablet') {
      width: 80%;
    }

    .row {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      width: 100%;
    }

    .row.for-grid .grid-item {
      height: 100%;
      position: relative;
      width: 100%;

      @include bp('desktop') {
        height: 50%;
        width: 25%;
      }

      h2 {
        display: none;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 20;
      }

      .profile-image {
        background: black;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
          height: 200%;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: -50%;
          z-index: 10;
        }
      }

      &:hover {
        h2 {
          color: white;
          display: block;
        }

        img {
          opacity: .5;
        }
      }
    }

    .row.for-grid { display: none; }
    .row.for-list {
      display: block;
      padding-left: 10px;
      a {
        display: block;
        text-decoration: none;
        height: 55px;
        display: flex;
        align-items: center;
      }
      h2 {
        font-size: 2em;
        letter-spacing: .09em;
        text-transform: uppercase;
        @include transition(all, .225s, ease-in);
      }
      a:hover h2 {
        font-size: 3em;
        letter-spacing: .25em;
        @include transition(all, .225s, ease-in);
      }
    }

    &.grid {
      .row.for-grid { display: flex; align-items: flex-start; }
      .row.for-list { display: none; }
    }
  }
}
