@import "mix";

.content.talent {
  display: flex;
  flex-direction: column;
  clear: both;

  .right-toggle {
    width: 100%;
    @include bp('desktop') {
      width: 15%;
    }

    #toggle {
      border: 10px solid black;
      cursor: pointer;
      position: fixed;
      padding: 10px;
      right: 10px;
      top: 10px;
      z-index: 51;
      display: none;
    }
  }

  .container {
    margin-top: 60px;
    width: 100%;
    @include bp('desktop') {
      padding: 0;
      width: 100%;
    }

    .row {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      height: calc(100vh - 60px);
      width: 100%;

      h2 {
        font-family: "akzidenz-grotesk-extended";
        font-weight: 300;
      }

      &.for-grid {
        @include bp('desktop') {
          width: 100%;
        }
      }
    }

    .row.for-grid .grid-item {
      height: calc(100% - 60px);
      position: relative;
      width: 100%;
      @include bp('desktop') {
        height: 50%;
        width: 33.33%;
      }
      @include bp('desktop-med') {
        height: 50%;
        width: 25%;
      }

      h2 {
        bottom: 45%;
        display: none;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5em;
        padding: 0 1em 0 .875em;
        line-height: 1.3em;
        z-index: 20;
        @include transition(all, .225s, ease-in);
      }

      .profile-image {
        background: black;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
          bottom: 0;
          display: block;
          height: 101%;
          left: 0;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          @include transition(all, .125s, ease-in-out);
        }
      }

      &:hover,
      &.opaque {
        h2 {
          color: white;
          display: block;
          @include transition(all, .125s, ease-in-out);
        }

        img {
          opacity: .5;
          @include transition(all, .125s, ease-in-out);
        }
      }
    }

    .row.for-grid { display: none; }
    .row.for-list {
      display: block;
      padding: 50px 0px 120vh 50px;
      @include bp('desktop') {
        padding: 100px 0px 120vh 100px;
      }

      a.grid-item {
        align-items: center;
        cursor: pointer;
        display: block;
        display: flex;
        height: 45px;
        margin-bottom: 0px;
        text-decoration: none;

        &.desktop {
          display: none;
          @include bp('desktop') {
            display: block;
          }
        }

        &.mobile {
          display: flex;
          @include bp('desktop') {
            display: none;
          }
        }
      }

      h2 {
        font-size: .75em;
        letter-spacing: .75em;
        text-transform: uppercase;
        line-height: 1.5em;
        @include transition(all, .325s, ease-in-out);
        @include bp('desktop') {
          font-size: 1em;
          letter-spacing: .25em;
        }
      }

      a:hover h2,
      a.active h2 {
        font-size: .875em;
        letter-spacing: .75em;
        @include transition(all, .325s, ease-in-out);
        @include bp('desktop') {
          font-size: 1.25em;
          letter-spacing: 1.5em;
        }
      }

      a {
        &.rose {
          &:hover h2 {color: #C0686C}
        }
        &.blush-rose {
          &:hover h2 {color: #964447}
        }
        &.crimson {
          &:hover h2 {color: #721014}
        }
        &.carmine {
          &:hover h2 {color: #952221}
        }
        &.orange {
          &:hover h2 {color: #BB5827}
        }
        &.tangerine {
          &:hover h2 {color: #CB7329}
        }
        &.golden-rod {
          &:hover h2 {color: #D9A628}
        }
        &.lemon {
          &:hover h2 {color: #F7DA37}
        }
        &.kermit {
          &:hover h2 {color: #146A3A}
        }
        &.hunter {
          &:hover h2 {color: #224337}
        }
        &.navy {
          &:hover h2 {color: #25295F}
        }
        &.marine {
          &:hover h2 {color: #13648F}
        }
        &.robin-egg {
          &:hover h2 {color: #7A99B3}
        }
        &.deep-purple {
          &:hover h2 {color: #42174C}
        }
        &.lilac {
          &:hover h2 {color: #9A799B}
        }
        &.lavender {
          &:hover h2 {color: #7A5BA6}
        }
      }
    }

    &.grid {

      .row.for-grid {
        display: flex;
        align-items: flex-start;
        position: relative;
        z-index: 99999;
        flex-wrap: wrap;
        overflow: scroll;
      }
      .row.for-list { display: none; }
    }
  }
}
