<div class="info-page">
  <div class="text">
    <% data.website.about.each do |id, text| %>
      <h2><%= text['aboutPageText'] %></h2>
    <% end %>
  </div>
  <div class="bio-section">
    <div class="bio-wrapper">
      <div class="bio-image">
        <img src="http://placehold.it/350x250/aaa/aaa" />
        <div class="bio-text"><h1>Colette Patnaude</h1><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit sapien diam, dictum feugiat dolor efficitur non. Praesent ornare ipsum eget erat suscipit, sit amet pellentesque dui pellentesque. Duis convallis urna eu ultricies pharetra. Vestibulum porttitor pretium urna in vulputate. Sed faucibus nunc ac scelerisque vulputate. Duis nec pulvinar augue. Maecenas faucibus est in quam rhoncus consectetur. Maecenas posuere, turpis nec elementum laoreet, mi augue mattis arcu, sed lobortis leo purus ac odio. Phasellus at nisi egestas, finibus lectus nec, mattis risus. Aliquam consequat quam nec neque luctus interdum. Maecenas est tortor, lacinia eu mi ut, porta tincidunt ipsum. Ut dapibus nec nisl sed ullamcorper.</p></div>
      </div>
      <div class="bio-name">Colette Patnaude</div>
    </div>

    <div class="bio-wrapper">
      <div class="bio-image">
        <img src="http://placehold.it/350x250/ccc/ccc" />
        <div class="bio-text"><h1>Eddie Wintle</h1><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit sapien diam, dictum feugiat dolor efficitur non. Praesent ornare ipsum eget erat suscipit, sit amet pellentesque dui pellentesque. Duis convallis urna eu ultricies pharetra. Vestibulum porttitor pretium urna in vulputate. Sed faucibus nunc ac scelerisque vulputate. Duis nec pulvinar augue. Maecenas faucibus est in quam rhoncus consectetur. Maecenas posuere, turpis nec elementum laoreet, mi augue mattis arcu, sed lobortis leo purus ac odio. Phasellus at nisi egestas, finibus lectus nec, mattis risus. Aliquam consequat quam nec neque luctus interdum. Maecenas est tortor, lacinia eu mi ut, porta tincidunt ipsum. Ut dapibus nec nisl sed ullamcorper.</p></div>
      </div>
      <div class="bio-name">Eddie Wintle</div>
    </div>

  </div>

</div>
