<div class="info-page">
  <div class="text">
    <% data.website.about.each do |id, text| %>
      <h2><%= markdown(text['aboutPageText']) %></h2>
    <% end %>
  </div>
  <div class="bio-section">
    <h1 class="headline">Team</h1>
    <div class="bio-wrapper">
    
      <div class="bio-image">
        <div class="image-wrap">
          <%= image_tag 'colette2.jpg', :class => 'colette'%>
        </div>
        <div class="bio-text">
          <h1>Colette Patnaude</h1>
          <p>
            <span class="tab"></span>
            <span class="title">Co-founder | Partner</span>
            Colette is a leading digital talent manager with an affinity for building vision and navigating business. A former performer herself, she is passionate about cultivating talent and working closely with creators to help them achieve their maximum potential. Originally getting her start by rising through the book to film department at WME, Colette followed her instincts to digital, landing a job at the oldest management company in the space, Big Frame, where she quickly became one of the industry’s top representatives. Opening Expand’s doors in 2016, she aims to build a culture of warmth, encouragement and expansion for a new generation of creators.
          </p>
        </div>
        <div class="border-el" style="background-color: #E01F39;"></div>
      </div>
      <div class="bio-name">Colette Patnaude</div>
    </div>

    <div class="bio-wrapper">
      <div class="bio-image">
        <div class="image-wrap">
          <%= image_tag 'eddie2.jpg', :class => 'eddie'%>
        </div>
        
        <div class="bio-text"><h1>Eddie Wintle</h1><p><span class="tab"></span><span class="title">Co-founder | Partner</span>Eddie works hand in hand with Expand talent, helping identify, inspire and build creative ideas into reality. A talented writer and experienced producer, Eddie started his career in talent representation at ICM before working in film development at Parkes+MacDonald. Leaving to write, he developed his own TV pilots and worlds, before discovering internet creators and content. After starting to collaborate on projects with digital talent, he quickly fell in love with the dynamism of digital entertainment and the possibilities of creating new forms of content in the future. Eddie joined forces with Colette to open Expand in 2016, and is forging EXE’s rapidly growing slate of original projects.</p></div>
        <div class="border-el" style="background-color: #22469B;"></div>
      </div>
      <div class="bio-name">Eddie Wintle</div>
    </div>

  </div>

</div>
