<div class="info-page">

  <div class="text">
    <%= image_tag 'expand-wordmark.svg', :class => 'wordmark'%>
    <% data.website.contact.each do |id, text| %>
      <%= markdown(text['contactPageText']) %>
    <% end %>
  </div>

  <div class="map-section">
    <a href="https://goo.gl/maps/ekMcA3JfRYJ2" target="_blank">
    <%= image_tag 'contact.jpg', :class => 'map'%>
    </a>
  </div>

</div>
