---
title: Expand Entertainment
---

<div class="homepage">
  <div class="container">
    <h1>expand entertainment</h1>
    <%= link_to 'talent', '/talent.html' %>
    <%= link_to 'about', '/about.html' %>
    <%= link_to 'creative', '/creative.html' %>
    <%= link_to 'contact', '/contact.html' %>
  </div>
</div>
