---
title: Expand Entertainment
---

<div id="homepage" class="homepage">
  <div id="home-container" class="container">
    <div class="home-links">
      <%= link_to 'talent', '/talent.html', :class => 'talent' %>
      <%= link_to 'about', '/about.html', :class => 'about' %>
      <%= link_to 'creative', '/creative.html', :class => 'creative' %>
      <%= link_to 'contact', '/contact.html', :class => 'contact' %>
    </div>
  </div>
</div>
